.categoryList {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.emptyCaption {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    line-height: 2rem;
    font-size: 1.3rem;
    color: var(--gray-color);
}